<!doctype html>  
<html>
<style>
div {
  background-color: lightgrey;
  width: 1200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

body {
    text-align: center;
    background-color: white;
}
table {
    display: inline-block;
    border-collapse: collapse;
}
</style>
   <body>  
      <h1> Please find below policy details for target: {{ target }}</h1>
      <div> {{ text }} </div>
      <br><br><br>
      <a href="/download_file/{{ target }}" ><button class='btn btn-default'> Download </button></a>
      <br><br><br>
   </body>
</html>
